body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.bg {
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.video {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-aspect-ratio: 16/9) {
	.video {
	  width: 100%;
	  height: auto;
	}
  }
  
  @media (max-aspect-ratio: 16/9) {
	.video {
	  width: auto;
	  height: 100%;
	}
  }

  #posts {
	text-align: center;
    background-color: white;
    width: 855px;
    padding: 200px;
    margin: 100px;
    font-family: 'Solway', serif;
	display: block;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 0 8px rgba(35, 173, 278, 1);
	
}

nav {
	list-style: none;
	text-align: center;
	text-shadow: 0 0 8px #4d4d4d;
	font-family: 'Solway', serif;
	display: flex;
	justify-content: space-around;
	min-height: 8vh;
	align-items: center;
	background-color: rgb(214, 214, 214);
	text-transform: capitalize;
	letter-spacing: 3px;
	font-weight: bold;
	box-shadow: 0 0 8px rgba(35, 173, 278, 1);
	position: sticky;
	top: 0px;
  }

  

.tran {
	font-size: 20px;
	justify-content: space-around;
	display: inline;
	position: relative;
	text-align: left;
}

.logo {
	margin-left: 10px;
	width: 150px;
	height: 150px;
	left: 0px;
}

.nav-links {
	display:flex;
	justify-content: space-around;
	width: 30%;
}

.title {
	letter-spacing: 3px;
}

a {
    color: black;
    transition: 0.5s ease;
	opacity: 1;
	text-decoration: none;
	
}

a:hover {
	opacity: 0.5;
	text-decoration: underline white;
}
